<title>{{ page.getTitle }} - 123giftcard</title>
<meta charset='UTF-8'>
<meta name='description' content='{{ page.getDescription }}'>
<meta http-equiv='content-type' content='text/html;charset=UTF-8'>
<meta name="viewport" content="width=1200, initial-scale=1">       
<meta name='robots' content='{{# page.getIndex }}index{{/ page.getIndex }}{{^ page.getIndex }}noindex{{/ page.getIndex }}, {{# page.getFollow }}follow{{/ page.getFollow }}{{^ page.getFollow }}nofollow{{/ page.getFollow }}'>
<link href="//123giftcard.nl/template/favicon.ico" rel="shortcut icon" type="image/x-icon" />
{{# page.getCanonical() }}
<link rel='canonical' href='{{ . }}' />
{{/ page.getCanonical() }}