<!DOCTYPE html>
<html>
    <head>
        {{> partial_head }}
        
        <link rel="stylesheet" href="//123giftcard.nl/template/css/stylesheet.css" type="text/css" />
    </head>
    <body>
        <header class="container">
            <div class='grid grid-responsive'>
                <div class="col col-2" style="padding: 0;">
                    {{> partial_logo }}
                </div>

                <div class='col col-8 font-align-center' style="padding: 0;">
                    <a href="//123giftcard.nl/levering" class="font font-color-dark">Alle producten uit ons assortiment worden <span class="font font-weight-bold font-color-dark">direct</span> geleverd</a>
                </div>

                <div class='col col-2 font-align-center'>
                    <div class='group group-size-large'>
                        <a href='//123giftcard.nl/winkelwagen' class='button button-orange'>Winkelwagen</a>
                        <span class='well well-color-white' id='cart-count'>
                            {{ cart.getTotalCount }}
                            {{^ cart.getTotalCount }}
                            &nbsp;
                            {{/ cart.getTotalCount }}
                        </span>
                    </div>
                    
                </div>
            </div>
            
        </header>
        
        <nav class="menu container" style="margin-bottom: 30px;">
            <div class="">
                <div class='grid grid-responsive'>
                    <!--<div class="col col-2">
                        {{^ hideLogo }}
                        <a href='//123giftcard.nl'><img src="//123giftcard.nl/template/png/logo-large.png" id='logo' alt="123code logo" width='150' height='150'></a>
                        {{/ hideLogo }}
                    </div>!-->
                    <div class='col col-10 font-align-center'>
                        {{# menu }}
                        <a href="{{ getLocation }}" class="{{ isActive }}">
                            {{ getName }}
                        </a>
                        {{/ menu }}
                    </div>
                </div>
            </div>
        </nav>
        
        <!-- start partial entry -->
        <div id="entry">
            {{> partial_entry }}
        </div>
        <!-- end partial entry -->
        <footer>
            <div class="container grid grid-responsive">
                <div class='col col-3'>
                    <h3>Voorwaarden</h3>
                    <ul class='list'>
                        <li>
                            <a href='//123giftcard.nl/voorwaarden'>Algemene voorwaarden</a>
                        </li>
                        <li>
                            <a href='//123giftcard.nl/privacy'>Privacy beleid</a>
                        </li>
                        <li>
                            <a href='//123giftcard.nl/disclaimer'>Disclaimer</a>
                        </li>
                    </ul>
                </div>
                <div class='col col-3'>
                    <h3>Navigatie</h3>
                    <ul class='list'>
                        {{# menu }}
                        <li>
                            <a href="{{ getLocation }}">
                            {{ getName }}
                            </a>
                        </li>
                        {{/ menu }}
                        <li>
                            <a href='sitemap'>Sitemap</a>
                        </li>
                    </ul>
                </div>
                <div class='col col-3'>
                    <h3>Contact & Support</h3>
                    <ul class='list'>
                        <li><a href='//123giftcard.nl/klantenservice'>Klantenservice</a></li>
                        <li><a href='//123giftcard.nl/contact'>Contact</a></li>
                    </ul>
                </div>
                <div class='col col-3'>
                    &nbsp;
                </div>
            </div>
            <div id='copyright'>
                ©2014 Korsit - Alle genoemde prijzen zijn inclusief BTW<br />
                The product names used on this website are for identification purposes only.
                All trademarks and registered trademarks are the property of their respective owners.
            </div>
        </footer>
        
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js'></script>
        <script>
            (function (sources) {
                for (var i = 0; i < sources.length; i++) {
                    var head = document.getElementsByTagName('head')[0];
                    var script = document.createElement('script');
                    script.type = 'text/javascript';
                    script.src = sources[i];
                    head.appendChild(script);
                }
            })([
                '//123giftcard.nl/template/js/combined.js'
            ]);
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-50002306-1', '{{ domain }}');
            ga('send', 'pageview');
        </script>
    </body>
</html>
